
.buttonStyle1 {
	border: solid 10px #ddd;
	border-radius: 100px;
	margin: 10px;
	background-color: #eee;
	font-family: 'Roboto';
}

.buttonStyle1:hover {
	-webkit-box-shadow: 0px 10px 5px -2px #fff8;
}

.buttonStyle1:active {
	-webkit-box-shadow: 0px 10px 5px 2px #fff8 inset;
        background-color: #ccc;
}
