body {
  background-color: black;
}

.buttonStyle1 {
	border: solid 10px #ddd;
	border-radius: 100px;
	margin: 10px;
	background-color: #eee;
	font-family: 'Roboto';
}

.buttonStyle1:hover {
	-webkit-box-shadow: 0px 10px 5px -2px #fff8;
	cursor: pointer;
}

.buttonStyle1:active {
	-webkit-box-shadow: 0px 10px 5px 2px #fff8 inset;
        background-color: #ccc;
	cursor: grabbing;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

button {
  border-radius: 100px;
  border-style: solid;
  border-color: #fff;
  border-width: 10px;
  background-color: #eee;
  height: 4em;
  width: 20em;
  font-size: 20px;
  box-shadow: 0px 14px 10px -3px #0008;
  transition: all .3s;
  margin-right: 10px;
  margin-bottom: 20px;
}

button:hover {
  box-shadow: 0px 14px 15px 3px #0008;
  cursor: pointer;
}

button:active {
  box-shadow: 0px 14px 16px -2px #0008 inset;
  background-color: #ccc;
  cursor: grabbing;
}

.center {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-item: center;
  flex: 1 1 200px;
}



/* Navigation bar */

.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #323232;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #000;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fff;
  color: #035a3a;
}